.idea
.terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
modules/lambda-layer-deps/examples/*/builds
modules/lambda-layer-deps/examples/*/node_modules
modules/lambda-layer-deps/examples/*/package.log
.DS_Store
